<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en"
>
	<head>
		<!-- head links and meta datas -->
		<div th:replace="_fragments::heads"></div>
	</head>
	<body onresize="resize()" class="min-h-screen">
		<!-- Navigation bar fragment -->
		<div th:replace="_fragments :: navigation"></div>

		<!-- content -->
		<div class="min-h-screen">
		<form
			th:action="@{/register}"
			method="post"
			class="w-4/5 sm:w-3/4 md:w-2/4 lg:w-13 mt-14 md:mt-20 grid grid-rows-6 content-around shadow-2xl rounded-2xl mx-auto"
			th:object="${RegistrationForm}"
		>
			<h1 class="text-center text-2xl sm:text-3xl mt-2">Sign up</h1>

			<!-- <div class="flex flex-col"> -->
			
			<input
				class="m-5 border-b-2 focus:outline-none"
				type="text"
				placeholder="first name"
				th:field="*{firstName}"
			/>
			<div 
				th:if="${#fields.hasErrors('firstName')}" 
				th:errors="*{firstName}">
			</div>
			<input
				class="m-5 border-b-2 focus:outline-none"
				type="text"
				placeholder="last name"
				th:field="*{lastName}"
			/>
			<div 
				th:if="${#fields.hasErrors('lastName')}" 
				th:errors="*{lastName}">
			</div>
			<input
				class="m-5 border-b-2 focus:outline-none"
				type="email"
				placeholder="Enter your email"
				th:field="*{email}"
			/>
			<div 
				th:if="${#fields.hasErrors('email')}" 
				th:errors="*{email}">
			</div>

			<input
				class="m-5 border-b-2 focus:outline-none"
				type="password"
				placeholder="Password"
				th:field="*{password}"
			/>
			<div 
				th:if="${#fields.hasErrors('password')}" 
				th:errors="*{password}">
			</div>
			<input
				type="submit"
				class="bg-green-200 m-auto my-4 w-fit p-2 px-5 rounded-full"
				value="Create Account"
			/>
		</form>
		</div>
		<!-- footer -->
		<div th:replace="_fragments ::footer"></div>
		<script th:src="@{/js/home.js}"></script>
	</body>
</html>
