<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en"
	class="min-h-screen bg-no-repeat"
>
	<head>
		<!-- head links and meta datas -->
		<div th:replace="_fragments::heads"></div>
	</head>
	<!-- style="background-image: url(); background-size: cover" -->
	<body class="bg-no-repeat h-full w-full">
		<img
			id="splash"
			th:src="@{/images/splash.png}"
			alt="splash background image"
		/>
		<div class="flex flex-col w-fit m-auto mt-40 md:\32xl\:text-3xl min-h-screen">
			<div
				style="font-family: 'Russo One', sans-serif"
				class="self-center md:text-8xl sm:text-7xl text-6xl"
			>
				<span class="text-green-300">med</span
				><span class="secondary">Find</span>
			</div>
			<!-- <div class="flex flex-col align-items-center"> -->
			<p
				class="text-center text-white mt-7 md:text-4xl sm:text-3xl text-2xl mx-10"
			>
				Search any medicine you want, and know where to find it
			</p>
			<a
				href="home"
				class="py-3 px-8 mt-20 md:px-16 primary-background rounded-full w-fit self-center"
			>
				Get Started
			</a>
			<!-- </div> -->
		</div>
	</body>
</html>
