<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
lang="en">
<head>
    <!-- head links and meta datas -->
	<div th:replace="_fragments::heads"></div>
</head>
<body onresize="resize()" class="md:h-screen">
    <!-- Navigation bar fragment -->
	<div th:replace="_fragments :: navigation"></div>


     <!-- content -->

    <div class="flex flex-col md:flex-row justify-between w-11/12 mx-auto mt-10 h-3/4 py-3 mb-10">
        <div class="flex flex-col justify-start items-center md:w-1/2 rounded-xl shadow-2xl py-3 px-1 h-96 md:h-full">
          <div class="topic">Requests</div>
          <div class="flex flex-col justify-between items-center w-11/12 rounded-xl p-3 overflow-auto h-96">
            
            <form th:each="request : ${requests}" action="validator/get_request" class="w-full my-1 flex flex-between items-center">
                <input type="hidden" name="request.pharmacyName" th:value="${pharmacy_name}">
                <button type="submit" class="w-full mx-1 ml-auto p-2 bg-cyan-200 primary-background relative h-10 flex justify-center items-center"><span th:text="${pharmacy_name}" class="absolute left-0 mx-5"> pharmacy name</span></button>
            </form>

          </div>
        </div>

        <div  th:if = "${selected_request}" th:object="${selected_request}" class=" md:w-1/2 flex flex-col items-center rounded-xl shadow-2xl md:mx-5 my-14 md:my-0 h-full md:h-full">
            <div class="topic">Pharmacy information</div>
            <div class="h-full w-11/12 flex flex-col justify-start items-start m-5 text-lg relative">
                <div class="my-1 p-1 border-b-1">
                    <span>Name of pharmacy owner: </span>
                    <span th:text="*{owner_name}" class="block md:inline-block">Pharmacy owner name</span>
                </div>
                <div class="my-1 p-1 border-b-1">
                    <span>Phone number: </span>
                    <span th:text="*{owner_phoneNumber}" class="block md:inline-block">Phone number</span>
                </div>
                <div class="my-1 p-1 border-b-1">
                    <span>Email: </span>
                    <span th:text="*{owner_email}" class="block md:inline-block">Email of pharmacy owner</span>
                </div>
                <div class="my-1 p-1 border-b-1">
                    <span>Name of the pharmacy: </span>
                    <span th:text="*{pharmacy_name}" class="block md:inline-block">Name of the pharmacy</span>
                </div>
                <div class="my-1 p-1 border-b-1">
                    <span>Address: </span>
                    <span th:text="*{pharmacy_address}" class="block md:inline-block">Address of the pharmacy</span>
                </div>
                <form class="w-full my-1 p-1 border-b-1 flex justify-center items-center" method="get">
                    <button formtarget="_blank" name="filename" th:value="*{license.name}" formaction="/upload/license/" class="primary-background px-5 lg:px-10 sm:px-10 p-1 sm:mx-5 hover:bg-cyan-200 rounded-full absolute bottom-0">View license</button>
                </form>
            </div>
            <div class="px-5 pt-1 font-bold text-lg text-cyan-500">Decision</div>
            <form class="w-full p-1 border-t-2 border-cyan-500 flex justify-center items-center mb-5">
                <button  name="name" th:value="${pharmacy_name}" formaction="validator/approve" class="bg-green-300 w-1/3 md:px-4 mx-3 sm:px-10 p-3 sm:mx-5 hover:bg-green-700 hover:text-white rounded-full shadow-lg">
                    Approve
                </button>
                <button name="name" th:value="${pharmacy_name}" formaction="validator/reject" class="bg-green-300 w-1/3  md:px-4 mx-3 sm:px-10 p-3 sm:mx-5 hover:bg-red-700 hover:text-white rounded-full shadow-lg">
                    Reject
                </button>
            </form>
        </div>


        <div th:replace="_fragments ::footer"></div>
        <script th:src="@{/js/home.js}"></script>
  </body>
</html>
